.details-container {
    margin-top: 2%;
 
    display: grid;
    margin-left: 40px;
    grid-template-columns: 1fr 1fr; /* duas colunas de tamanho igual */
    gap: 20px; /* espaço que fica entre as colunas */
  }
  
