.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buy {
    background-color: #408080;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 400px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
  }
  
  .cart-icon {
    margin-right: 10px;
  }
  