.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #408080;
    padding: 10px;
  }

  .left-section {
    display: flex;
    align-items: center;
  }

  .right-section {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 10px;
    cursor: pointer;
  }

  .logo {
    margin-right: 40px;
  }

  .search-bar {
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid 1px #fff;
    width: 600px;
  }
  .right-section .icon {
    margin-right: 20px;
  }
