.info {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
  }

.product-name,
.product-price{
    color:#143939;
    font-size: 2em ;
    font-weight: 500;
}

.product-installment{
    font-size: 1.5em ;
    color: #727272;
}

.button-div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.bottom-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}