.description {
    text-align: left;
    grid-row: 2 / span 1;
  }
  
  .desc-title {
    color: #143939;
    font-size: 2em;
    font-weight: 500;
  }
  
  .desc-text {
    color: #727272;
    font-size: 1.3em;
  }
  