.banner {
  background-color: #408080;
  color: white;
  height: 444px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-align: left;
}

.text-div {
  flex: 1;
  padding: 0 15px;
  max-width: 600px;
}

.welcome-title {
  font-size: 3em;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.banner-img {
  flex: 1;
  height: 100%;
  overflow: hidden; /* para evitar que o conteudo de dentro ultrapasse o elemento*/
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 /*teste de responsividade*/
@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    height: auto;
  }

  .text-div,
  .banner-img {
    width: 100%;
    padding: 15px;
  }

  .welcome-title,
  .welcome-text {
    margin-bottom: 15px;
  }
}