.product-card {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 10px;
}

.card-image {
  width: 100%;
  max-height: 50%; 
  object-fit: contain; 
  border-radius: 10px;
}

.card-info {
  text-align: left;
  max-height: 50%;
  overflow: hidden;
}

.card-name {
  font-size: 12px;
  margin-bottom: 4px;
  color: #143939;
  overflow: hidden;
  text-overflow: ellipsis; /* resolvendo problema do texto quebrando usando (...) possivel solução */
  white-space: nowrap; /* não deixa a linha quebrar */
}

.card-price {
  font-size: 12px;
  color: #5B5B5B;
  margin-bottom: 4px;
}

.installment {
  margin: 0;
  color: #727272;
  font-size: 12px;
}
