/* Adicione essas alterações ao seu arquivo ProductCard.css */

.product-card {
  width: 305px;
  height: 305px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 10px;
}

.product-image {
  width: 100%;
  max-height: 60%; 
  object-fit: contain; 
  border-radius: 10px;
}

.product-info {
  text-align: left;
  max-height: 40%; 
  overflow: hidden;
}

.product-name {
  font-size: 14px;
  margin-bottom: 4px;
  color: #143939;
}

.product-price {
  font-size: 14px;
  color: #5B5B5B;
  margin-bottom: 4px;
}

.installment {
  margin: 0;
  color: #727272;
  font-size: 12px;

}
